%footer.footer
  .footer-contents
    .footer-contents__left-box
      .box-header
        I Teachについて
      %ul.box-content
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            会社概要(運営会社)
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            プライバシーポリシー
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            I Teach利用規約
    .footer-contents__center-box
      .box-header
        I Teachを見る
      %ul.box-content
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            講師を探す
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            科目で探す
    .footer-contents__right-box
      .box-header
        ヘルプ＆ガイド
      %ul.box-content
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            I Teachガイド
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            I Teachロゴ利用ガイドライン
        %li.box-content__words
          =link_to "#", class:"footer-word" do
            お知らせ
    .items__word
      ©︎ I Teach