* {
  box-sizing: border-box;
}

.chat-main {
  width: 100%;
  height: 100vh;
  .group-info {
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .current-group {
      color: #333333;
      font-size: 20px;
      padding: 35px 0 15px 40px;
    }
      .member-list {
        color: #999999;
        font-size: 12px;
        display: flex;
      }
    .edit-btn{
      font-size: 16px;
      border: 1px solid #38aef0;
      height: 40px;
      padding: 0 20px;
      margin: 28px 40px 0 0;
      line-height: 40px;
      .edit-icon{
      color: #38aef0;
      text-decoration: none;
      }
    }
  }
  .message-field {
    background-color: #fafafa;
    height: calc(100% - 190px);
    overflow: scroll;
    .message-box {
      margin-left: 40px;
    }
      .message-info {
        display: flex;
        padding-top: 35px;
        &__user-name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
        }
      }
      .message {
        margin-top: 12px;
        margin-bottom: 11px;
        &__content {
          color: #434A54;
          font-size: 14px;
        }
      }
  }
  .footer {
    background-color: #d2d2d2;
    height: 90px;
    .form-contents {
      .form {
        margin-top: -60px;
        padding: 20px 40px;
        display: flex;
        position: relative;
        .form__input-content {
          height: 50px;
          width: 90%;
          padding: 0 10px;
        }
        .form__input-image {
          color: black;
          position: absolute;
          top: 35px;
          right: 150px;
          .Hidden {
            display: none;
          }
        }
        .form__submit {
          color: #fff;
          font-size: 16px;
          background-color: #38aef0;
          padding: 0 30px;
          height: 50px;
          margin-left: 28px;
        }
      }
    }
  }
}

